@import "vars";
@import "bootstrap";
@import "bootstrap/theme";

// Angular Cloak
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

body {
	padding-top: 50px;
}

body > .container {
	margin-top: 20px;
}

.thumb {
	> .thumbnail {
		cursor: pointer;
	}
}

.reward {
	height: 120px;
	
	.value {
		font-size: 26px;
	}
}

.badge {
	font-size: 30px;
}