<div class="row">
	<div class="col-sm-8">
		<h1>This Week on PeerPerks</h1>
		<p class="lead">The team has collectively earned 60 points.</p>
	</div>
	<div class="col-sm-4">
		<div class="btn-group pull-right">
			<div ng-hide="selectReward">
				<button type="button" class="btn btn-primary btn-lg" ng-click="selectReward = !selectReward">Reward</button>
				<button type="button" class="btn btn-default btn-lg">Redeem</button>
			</div>
			<div ng-show="selectReward">
				<button type="button" class="btn btn-danger btn-lg" ng-click="selectReward = !selectReward">Cancel</button>
			</div>
		</div>
	</div>
</div>

<ul ng-hide="selectReward" class="list-group">
	<li class="list-group-item" ng-repeat="participant in remoteParticipants">
		<span class="badge" ng-click="addPoint(participant)">{{participant.points}}</span>
		<h4>
			<gravatar-image data-gravatar-email="participant.email" data-gravatar-size="64" data-gravatar-default="identicon" data-gravatar-css-class="img-circle" ></gravatar-image>
			<span>{{participant.name}}</span>
		</h4>
	</li>
</ul>

<div ng-show="selectReward">
	<h3>1. Select participant to reward.</h3>
	<pp-reward participants="remoteParticipants"></pp-reward>
</div>