<div class="row">
	<div class="col-sm-8">
		<h1>This Week on PeerPerks</h1>
		<p class="lead">Code Free or Die Hard</p>
	</div>
	<div class="col-sm-4">
		<div class="btn-group pull-right">
			<div ng-hide="selectReward">
				<button type="button" class="btn btn-primary btn-lg" ng-click="selectReward = !selectReward">Reward</button>
				<button type="button" class="btn btn-default btn-lg">Redeem</button>
			</div>
			<div ng-show="selectReward">
				<button type="button" class="btn btn-danger btn-lg" ng-click="selectReward = !selectReward">Cancel</button>
			</div>
		</div>
	</div>
</div>

<div class="row" ng-show="selectReward">
	<div class="col-sm-12">
		<h3>Reward</h3>
		<pp-reward enabled="selectReward"></pp-reward>
	</div>
</div>

<div class="row" ng-hide="selectReward">
	<div class="col-sm-12">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="participant in remoteParticipants">
				<span class="badge">{{participant.points}}</span>
				<h4>
					<gravatar-image data-gravatar-email="participant.email" data-gravatar-size="64" data-gravatar-default="identicon" data-gravatar-css-class="img-circle" ></gravatar-image>
					<span>{{participant.name}}</span>
				</h4>
			</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<h3>Activity</h3>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="activity in activities">
				<p>
					<strong>{{activity.participant.name}}</strong> earned <strong>{{activity.reward.points}} <span class="glyphicon glyphicon-thumbs-up"></span></strong> for <strong>{{activity.reward.name}}</strong>
				</p>
			</li>
		</ul>
	</div>
</div>