<div class="row">
	<div class="col-sm-7 col-xs-12">
		<h1>All Time on PeerPerks</h1>
		<p class="lead">Code Hard. Get Perks.</p>
	</div>
	<div class="col-sm-5 col-xs-12">
		<div class="pull-right">
			<button ng-hide="user" type="button" class="btn btn-success btn-lg" ng-click="login()">Login</button>
			
			<div class="btn-group">
				<button ng-hide="!user || selectReward || selectPerk" type="button" class="btn btn-primary btn-lg" ng-click="selectReward = !selectReward">Reward</button>
				<button ng-hide="!user || selectReward || selectPerk" type="button" class="btn btn-default btn-lg" ng-click="selectPerk = !selectPerk">Perk</button>
			</div>
			
			<button ng-show="selectReward || selectPerk" type="button" class="btn btn-danger btn-lg" ng-click="cancel()">Cancel</button>
			<button ng-show="user" type="button" class="btn btn-link btn-lg" ng-click="logout()">Logout</button>
		</div>
	</div>
</div>

<div class="row" ng-show="error">
	<div class="col-xs-12">
		<div class="alert alert-danger">{{error}}</div>
	</div>
</div>

<div class="row" ng-show="selectReward">
	<div class="col-sm-12">
		<div class="well">
			<h3>Reward</h3>
			<pp-reward enabled="selectReward"></pp-reward>
		</div>
	</div>
</div>

<div class="row" ng-show="selectPerk">
	<div class="col-sm-12">
		<div class="well">
			<h3>Perk</h3>
			<pp-perk enabled="selectPerk"></pp-perk>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-sm-12">
		<div class="row">
			<div class="col-sm-12">
				<h3>Participants</h3>
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="participant in remoteParticipants | orderByPriority">
						<div class="row">
							<div class="col-sm-2 col-xs-12 text-center">
								<gravatar-image class="gravatar" data-gravatar-email="participant.email" data-gravatar-size="64" data-gravatar-default="identicon" data-gravatar-css-class="img-circle" data-gravatar-secure="1"></gravatar-image>
							</div>
							<div class="col-sm-10 col-xs-12">
								<span class="points badge">{{participant.points.current}} <span class="glyphicon glyphicon-thumbs-up"></span></span>
								<h4>
									<span>{{participant.name}}</span> <span class="label label-primary" ng-show="participant.username === user.username">You</span>
								</h4>
								<span class="label label-default">{{participant.points.allTime}} <span class="glyphicon glyphicon-thumbs-up"></span> All Time</span>
								<span class="label label-default">{{participant.points.redeemed}} <span class="glyphicon glyphicon-thumbs-up"></span> Redeemed</span>
								<span class="label label-default">{{participant.points.perks}} <span class="glyphicon glyphicon-thumbs-up"></span> Perks</span>
								<span class="label label-success" ng-show="participant.status === 'online'"><span class="glyphicon glyphicon-flash"></span></span>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-md-6 col-sm-12">
		<div class="row">
			<div class="col-sm-12">
				<h3>Activity</h3>
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="activity in activities | orderByPriority">
						<p ng-show="activity.reward">
							<strong>{{activity.participant.name}}</strong> earned <strong>{{activity.reward.points}} <span class="glyphicon glyphicon-thumbs-up"></span></strong> for <strong>{{activity.reward.name}}</strong>
						</p>
						<p ng-show="activity.perk">
							<strong>{{activity.participant.name}}</strong> redeemed <strong>{{activity.perk.name}}</strong> for <strong>{{activity.perk.points}} <span class="glyphicon glyphicon-thumbs-up"></span></strong>
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>